!!! 5
= render :partial => "/templates/iehack"
%html.no-js(lang="zh-tw" ng-app)
  %head
    %title= yield(:title)
    = render :partial => "/templates/head"
  %body{:class => yield(:bodyClass)}
    = render :partial => "/templates/noie"
    #wrapper.page
      #container.spirit
        = render :partial => "/templates/menu"
        = render :partial => "/templates/header"
        = render :partial => "/templates/sidebar"
        %main
          = yield
        = render :partial => "/templates/userpanel"
    = render :partial => "/templates/footer"
    = render :partial => "/templates/script"
